<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="asterisk_plus_gs_server_form" model="ir.ui.view">
    <field name="name">asterisk_plus_gs_server_form</field>
    <field name="model">asterisk_plus.server</field>
    <field name="inherit_id" ref="asterisk_plus.asterisk_plus_server_form"/>
    <field name="arch" type="xml">
      <button name="get_system_information" position="after">
        <button name="gs_sync_users" type="object" icon="fa-send" string="Sync Users"/>
      </button>
      <page name="settings" position="replace">
        <page name="gs" string="Grandstream">
          <group>            
            <group>
                <field name="gs_model" required="1" string="Model"/>
                <field name="gs_api_version" required="1" string="API version"/>
                <field name="gs_api_url" required="1" placeholder="https://192.168.1.1:8089" string="API URL"/>
                <field name="gs_api_user" password="1" required="1" string="API User"/>
                <field name="gs_api_password" password="1" required="1" string="API Password"/>
            </group>
            <group>
              <field name="generate_sip_peers" string="WebRTC Phone Users"/>
              <field name="gs_verify_ssl" string="Verify SSL"/>
              <field name="gs_model_name" string="Model Name"/>
              <field name="gs_system_time" string="System Time"/>
              <field name="gs_uptime" string="Uptime"/>
            </group>
          </group>
        </page>
      </page>      
    </field>
  </record>
</odoo>