<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="asterisk_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_asterisk_plus_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="asterisk_plus.asterisk_settings_menu"
      groups="asterisk_plus.group_asterisk_admin"
      action="asterisk_settings_action" name="General" sequence="70"/>

  <record id='asterisk_settings_form' model='ir.ui.view'>
      <field name='name'>asterisk_plus.settings.form</field>
      <field name='model'>asterisk_plus.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="general" string="General"
                      invisible="is_registered == False">
                  <group>
                    <group>
                      <field name="module_version"/>
                      <field name="debug_mode"/>
                      <field placeholder="IP addresses by comma..."
                        name="permit_ip_addresses"/>
                    </group>
                    <group name="originate" string="Originate Parameters">
                      <field name="originate_context"/>
                      <field name="originate_timeout"/>
                    </group>
                  </group>
                  <group>
                    <group name="ui" string="User Interface">
                      <field name="auto_reload_calls"/>
                      <field name="auto_reload_channels"/>
                    </group>
                  </group>
                </page>
                <page name="calls" string="Calls"
                      invisible="is_registered == False">
                  <group>
                      <group string="Call Options" name="options" >
                        <field name="auto_create_partners" readonly="1" help="Enterprise Feature"/>
                        <field name="calls_keep_days" readonly="1" help="Enterprise Feature"/>
                        <field name="number_search_operation" readonly="1" help="Enterprise Feature"/>
                        <field name="disable_phone_format" readonly="1" help="Enterprise Feature"/>
                      </group>
                      <group string="Call Recording">
                        <field name="record_calls"/>
                        <field name="recordings_access"/>
                        <field name="recordings_access_url"
                               invisible="recordings_access not in ['remote', 'asterisk_http']"
                               required="recordings_access in ['remote', 'asterisk_http']"/>
                        <!-- S3 -->
                        <field name="recordings_s3_region" placeholder="eu-central-1"
                               invisible="recordings_access != 's3'"
                               required="recordings_access == 's3'"/>
                        <field name="recordings_s3_bucket" placeholder="testbucket"
                               invisible="recordings_access != 's3'"
                               required="recordings_access == 's3'"/>
                        <field name="recordings_s3_key" password="1"
                               invisible="recordings_access != 's3'"
                               required="recordings_access == 's3'"/>
                        <field name="recordings_s3_secret" password="1"
                               invisible="recordings_access != 's3'"
                               required="recordings_access == 's3'"/>
                        <!-- End of S3 -->
                        <field name="recordings_keep_days" readonly="1" help="Enterprise Feature"/>
                        <field name="use_mp3_encoder" help="Enterprise Feature" readonly="1"
                               invisible="record_calls == False"/>
                        <field name="mp3_encoder_bitrate" help="Enterprise Feature" readonly="1"
                               invisible="record_calls == False or use_mp3_encoder == False" required="use_mp3_encoder == True"/>
                        <field name="mp3_encoder_quality" help="Enterprise Feature" readonly="1"
                               invisible="record_calls == False or use_mp3_encoder == False" required="use_mp3_encoder == True"/>
                        <label for="recording_storage" string="Recording Storage"
                               invisible="record_calls == False or recordings_access not in ['local','remote']"/>
                          <div class="d-flex">
                            <field name="recording_storage" class="w-50" help="Enterprise Feature" readonly="1"
                                   invisible="record_calls == False or recordings_access not in ['local','remote']" />

                          </div>
                      </group>
                    </group>
                </page>
                <page name="transcription" string="Transcription"
                      invisible="record_calls == False or is_registered == False">
                  <group>
                    <group>
                      <field name="transcribe_calls"/>
                      <field name="openai_api_key_display" password="1"
                        invisible="transcribe_calls == False"/>
                      <field name="summary_prompt"/>
                      <field name="completion_model"/>
                      <field name="register_summary"
                             invisible="transcribe_calls == False"/>
                      <field name="remove_recording_after_transcript"
                             invisible="transcribe_calls == False"/>
                    </group>
                    <group string="Transcription Rules" help="Enterprise Feature"
                           invisible="transcribe_calls == False">
                      <field name="transcription_rules" readonly="1" help="Enterprise Feature">
                        <list editable="bottom">
                          <field name="id"/>
                          <field name="calling_number"/>
                          <field name="called_number"/>
                        </list>
                      </field>
                    </group>
                  </group>
                </page>
                <!-- REGISTRATION PAGE -->
                <page name="registraton" string="Registration">
                <group invisible="is_registered">
                  <div colspan="2" style="font-size: small;">
                    <strong >Registration is required to activate and use this product. We use it only for internal sales and support processes. Please read our <a target="_new" href="https://oduist.com/privacy">data privacy policy.</a></strong>
                  </div>
                  <div colspan="2" style="font-size: small;">
                    <field name="i_agree_to_register" nolabel="1"/>
                    <label for="i_agree_to_register" string="I agree to create an account in the Oduist users portal to receive free technical support from Oduist team."/>
                  </div>
                  <div colspan="2" style="font-size: small;">
                  <field name="i_agree_to_receive"/>
                  <label for="i_agree_to_receive" string="I agree to receive important product notifications, including security advisories, major updates, and critical patches that may affect my installation."/>
                  </div>
                  <div colspan="2" style="font-size: small;">
                    <field name="i_agree_to_contact"/>
                    <label for="i_agree_to_contact" string="I agree to be contacted by sales representatives who can help me understand additional services and support options available for my installation."/>
                  </div>
                </group>
                <group>
                        <group name="registration" string="Registration">
                            <field colspan="2" name="registration_number"
                                   invisible="is_registered == False"/>
                            <field colspan="2" name="customer_code"
                                   invisible="is_registered"/>
                            <button colspan="2" name="register_instance" class="btn btn-info btn-lg me-1" type="object" string="SUBMIT REGISTRATION"
                                    invisible="is_registered or not i_agree_to_register or not i_agree_to_receive or not i_agree_to_contact"/>
                            <field name="is_registered" invisible="1"/>
                            <p colspan="2"
                               invisible="is_registered or (i_agree_to_register and i_agree_to_receive and i_agree_to_contact)">
                              Our product is <b>open source and free to use</b>, but it's <b>also a commercial solution used in business-critical environments</b>.<br/>
                              While we're committed to keeping the product open source, <b>we need sustainable ways to support its development and maintenance</b>.<br/>
                              We want to share why we ask for these permissions:
                              <ul>
                              <li><strong>Security First:</strong> We take security very seriously. If a critical bug or vulnerability is discovered, we need to ensure we can reach <strong>every user</strong> to provide an immediate fix.</li>
                              <li><strong>Ongoing Development:</strong> Even though the core product is free, we still need resources to maintain, improve, and support it. By staying connected, you help us continue innovating.</li>
                              <li><strong>Value-Added Services:</strong> We offer optional premium services that provide additional benefits, including SLA support, consulting, and advanced features. Having your contact details allows us to inform you about solutions that might help your business grow.</li>
                              <li><strong>Community and Support</strong>: Registering in our portal gives you access to knowledge bases, user forums, and troubleshooting help from other users and our team.</li>
                              </ul>
                              Your privacy is our priority - your registration data remains strictly confidential. We do not sell or misuse your information.<br/>
                              <strong>Thanks a lot for your trust, understanding and support! Welcome to our community!</strong>
                            </p>
                        </group>
                        <group string="Technical Support" invisible="not is_registered">
                            <p colspan="2" >
                              <a role="button" class="btn btn-primary" href="https://oduist.com/knowledge/article/39" target="_new">DOCUMENTATION</a> |
                              <a role="button" class="btn btn-info" href="https://oduist.com/forum/user-support-portal-1" target="_new">FREE SUPPORT</a> |
                              <a role="button" class="btn btn-success" href="https://oduist.com/support" target="_new">COMMERCIAL SUPPORT</a>
                            </p>
                            <img alt="Great support!" colspan="2" src="/asterisk_plus/static/description/support.jpg" width="100%"/>
                        </group>
                        <group name="registration_data" string="Registration Data" invisible="is_registered">
                            <field name="company_name" required="1"/>
                            <field name="company_email" required="1"/>
                            <field name="company_phone" required="1"/>
                            <field name="company_country" required="1"/>
                            <field name="company_state_name" string="Company State"/>
                            <field name="company_city" required="1"/>
                            <field name="admin_name" required="1"/>
                            <field name="admin_email" required="1"/>
                            <field name="admin_phone" required="1"/>
                            <field name="web_base_url"/>
                        </group>
                    </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

</odoo>
