<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="asterisk_plus_yestar_server_form" model="ir.ui.view">
    <field name="name">asterisk_plus_yestar_server_form</field>
    <field name="model">asterisk_plus.server</field>
    <field name="inherit_id" ref="asterisk_plus.asterisk_plus_server_form"/>
    <field name="arch" type="xml">
      <button name="get_system_information" position="after">
        <button name="yeastar_sync_users" type="object" icon="fa-send" string="Sync Users"/>
      </button>
      <page name="localization" position="before">
        <page name="yeastar" string="Yeastar">
          <group>            
            <group>
                <field name="yeastar_model" string="Model"/>
                <field name="yeastar_api_version" string="API version"/>
                <field name="yeastar_api_url" string="API URL"/>
                <field name="yeastar_api_client_id" password="1" string="Client ID"/>
                <field name="yeastar_api_client_secret" password="1" string="Client Secret"/>
            </group>
            <group>
              <field name="yeastar_verify_ssl" string="Verify SSL"/>
              <field name="yeastar_model_name" string="Model Name"/>
              <field name="yeastar_system_time" string="System Time"/>
              <field name="yeastar_uptime" string="Uptime"/>
            </group>
          </group>
        </page>
      </page>
    </field>
  </record>
</odoo>